.navbar {
  width: 100%;
  display: flex; /*flexbox로 지정*/
  justify-content: space-between; /*간격 띄워서 배치*/
  align-items: center; /*중간에 배치*/
  background-color: yellow;
  padding: 8px 12px;
}
.logo {
  float:left;
  width: 250px;
  height: 100px;
  font-size: 30px;
  font-style: black;
  background-color: yellowgreen;
}
.logo i{
  color:rgb(158, 255, 198);
}
.nav_category {
  background-color: bisque;
}
#cate > li {
}
.sub_menu {
  position:absolute;
  padding-top: 20px; 
  float: bottom;
}